@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@font-face {
  font-family: 'Nippo'; 
  src: url('/Nippo-Bold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  color: #161A1E;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout-container {
  display: flex;
  height: 100%;
  /* height: calc(100vh - 64px); */
}

.main-content {
  flex-grow: 1;
  width: calc(100% - 280px);
  height: 100%; 
  margin-right: 280px;
}

