.chatModal {
    position: relative;
    width: 100%;
    /* height: 400px; */
    background-color: #35353d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* position: absolute;
    right: 10px; */
    /* z-index: 2000; */
}

.input {
    display: flex;
    /* position: absolute; */
    align-items: center;
    padding: 10px;
    /* bottom: 0; */
}

.input input {
    flex-grow: 1; /* 입력창이 가능한 최대 너비를 가지도록 설정 */
    margin-right: 10px;
}

.input button {
    width: 20%;
    height: 100%;
    background-color: red;
}

.messages {
    flex-grow: 1; 
    overflow-y: scroll;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.messageBubble {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

/* 자기 자신의 메시지 스타일 */
.myMessage {
    background-color: #40d6db; /* 예시 배경색 */
    align-self: flex-end;
}
  
/* 상대방의 메시지 스타일 */
.otherMessage {
    background-color: #d6b86c; /* 예시 배경색 */
    align-self: flex-start;
}