.container {
    position: relative;
    height: 400px;
}

.chatModal {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* height: 100%; */
    /* position: absolute;
    right: 10px; */
    /* z-index: 2000; */
}

.input {
    display: flex;
    align-items: center;
    height: 40px;
    /* padding: 0 5px; */
    position: absolute;
    bottom: 80px;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.input button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.messages {
    flex-grow: 1; 
    /* overflow-y: scroll; */
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border-radius: 5px; */
    margin-bottom: 10px;
}
  
.messageBubble {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
    color: black;
}

/* 자기 자신의 메시지 스타일 */
.myMessage {
    align-self: flex-end;
}

.myMessageP {
    width: min-content;
    align-self: flex-end;
    background-color: #40d6db; 
}

/* 상대방의 메시지 스타일 */
.otherMessage {
    align-self: flex-start;
}

.otherMessageP {
    align-self: flex-start;
    background-color: #d6b86c;
}