.chatModal {
    width: 100%;
    height: 400px;
    background-color: #35353d;
    border-radius: 5px;
    /* position: absolute;
    right: 10px; */
    /* z-index: 2000; */
}

.input {
    display: flex;
    position: absolute;
    bottom: 0;
}

.messages {
    overflow-y: scroll;
}