.chatButton {
    position: fixed;
    right: 180px;
    bottom: 10px;
    background-color: #31eaea;
    color: black;
}

.title {
    font-size: large;
}

.chatRoom {
    width: 100px;
    height: 100px;
}

.hide {
    display: none;
}

.chats {
    overflow-y: hidden;
}