.sidebar {
    position: fixed;
    right: 0;
    top: 4rem;
    bottom: 0;
    width: 320px;
    height: 100vh;
    color: white;
    background-color: #161A1E;
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 0.75px 0.15px #35ccbc;
}


.chatButton {
    position: fixed;
    right: 180px;
    bottom: 10px;
    background-color: #31eaea;
    color: black;
}

.title {
    font-size: large;
}

.chatRoom {
    width: 100px;
    height: 100px;
}

.hide {
    display: none;
}

.chats {
    overflow-y: hidden;
}